[package]
name = "rdm4-bin"
version = "0.1.0"
authors = ["lukts30 <llukas21307@gmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/lukts30/rdm4"

[workspace]
members = [
    "cfghelper",
    "rdm_web",
]

[dependencies]
rdm4lib = { path = "rdm4lib" }
log = "0.4"
env_logger = "0.8.1"
clap = "3.0.0-beta.2"
walkdir = "2"


[profile.release]
opt-level = 3
debug = 1
overflow-checks = true